.nav-wrapper {
	.brand-logo {
		img {
			max-height: $navbar-height;
			@media #{$small-and-down} {
				max-height: $navbar-height-mobile !important;
			}
		}
		@media #{$medium-and-down} {
			left: 0;
			transform: none;
		}
		@media #{$small-and-down} {
			left: 60px;
		}
	}
	.sidenav-trigger {
		background-color: $secondary-color;
		padding: 0 !important;
		margin: 0;
		&:hover {
			background-color: darken($secondary-color, 15%);
		}
		i {
			padding: 0 18px;
		}
		@media #{$medium-and-up} {
			display: none;
		}
	}
	.mobile-logout {
		padding: 0 18px;
		color: #fff;
	}
	ul {
		a {
			&.active {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}
