h1 {
	border-bottom: 1px solid $secondary-color;
}

form {
	legend {
		margin-bottom: $global-spacing;
	}

	.input-field {
		margin-top: $global-spacing;

		label {
			width: auto !important;
		}
	}
}

.flow-text {
	margin-bottom: 1rem;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	background-color: darken($primary-color, 15%);
	border-radius: 0;
	margin: 0;
	z-index: 99999;
}
